/* GENERAL */
* {
  font-family: 'arial', Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}

.shadow-box {
  transition: box-shadow 0.1s ease-in-out;
}

.shadow-box:hover {
  box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.2), 8px 0 8px -8px rgba(0, 0, 0, 0.2);
}
